.row
  .col-lg-8.col-lg-offset-2
    .panel.panel-default
      .panel-heading Sign in
      .panel-body
        = simple_form_for @user, url: sign_in_path, method: :post do |f|
          = f.input :username
          = f.input :password
          = f.submit 'Sign in', class: 'btn btn-primary'
