.post.panel.panel-default
  .panel-heading
    = post.title
  .panel-body
    = post.body.html_safe # other html tags are not stripped
    - unless current_page?(post)
      .text-right
        = link_to 'Show more...', post
