.row
  .col-lg-8.col-lg-offset-2
    = render @post

    - if @post.user == current_user
      = link_to 'Edit', edit_post_path(@post)
      |
      = link_to 'Delete', post_path(@post), method: :delete
      |
    = link_to 'Back', posts_path
