!!!
%html
  %head
    %title Recruitment
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render partial: 'layouts/navigation'

    .container
      = render partial: 'layouts/flash_message'
      = yield